.App {
  text-align: center;
  padding: 1%;
  background-color: black;
}
.about {
  margin: 5%;
}

h1 {
  font-size: 9rem;
}

h3 {
  font-size: 4rem;
}

.header-img{
  margin: 5%;
  background-image: url('https://images.unsplash.com/photo-1503891450247-ee5f8ec46dc3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}
.name {
  color:  #fc5e6c;
}

.content-left {
  color:  #fc5e6c;
  text-align: left;
  width: 40%
}
.content-right {
  color:  #fc5e6c;
  text-align: right;
  width: -40%;
}

/* .tech-skills {
  background-color: darkgray;
  color: white;
  border: 1px solid black;
  z-index: 1;
  position: relative;
  margin-top: -80%;
  margin-left: 50%;
  padding: 2%;

  width: 50rem;
  height: 35rem;
} */
/* .python-skills {
  background-color: darkgray;
  color: white;
  border: 1px solid black;
  z-index: 1;
  position: relative;
  margin-top: -10%;
  margin-left: 50%;
  margin-right: 5%;
  padding: 2%;
} */

/* navigation tabs */
.navigation1{
  width: 25%;
  color: #fc5e6c;
  /* padding-left: 1%;
  padding-right: 1%; */
}
.navigation {
  background-color: black;
  color: #1dcadb;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  margin-top: 3%;
  width: 100%;
}


.navigation:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #1dcadb;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
 
}
.navigation:hover:before, .navigation:focus:before, .navigation:active:before {
  left: 0;
  right: 0;
}

.page{
  background-color: black;
  color: #1dcadb;
  padding: 1%;
  font-family: 'Permanent Marker', cursive;
/* font-family: 'Sedgwick Ave Display', cursive; */
}
.coral{
  color: #fc5e6c
}

a:hover {
  color: #fc5e6c;
}

.btn-primary{
  background-color: white;
  color: #fc5e6c;
  background-color: #fc5e6c ;
}

.btn{
 background-color: white;
 color: #fc5e6c;
}

.btn-primary:hover{
  background-color: #fc5e6c ;
}
.btn:hover{
 background-color: #fc5e6c;
}
button{
  border-radius: 1px solid #fc5e6c;
}

.card-title{
  color: #fc5e6c
}
.card{
  width: 20%;
  height: 15rem;
  margin:2%;
  border: 5px solid #fc5e6c;
  color: #fc5e6c
}
.tech{
  background-color: blue;
}

.contact-logos{
  padding: 1%;
  /* display: block; */
  width: 28%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}