body {
  margin: 0;
  padding: 0;
  background: #000000;
}

.wrapper {
  height: 10rem;
  width: 50%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background: #000000;
  margin: 0;
  padding: 0;
  background: #000000;
}

.txt {
  color: #000000;
  /* background: #000000; */
  font-size: 14rem;
  font-weight: bold;
  font-family: alegreya sans sc;
  text-transform: uppercase;
  margin: auto;
  padding: 0;
  z-index: 0;
  /* background: #000000; */
}
@media (max-width: 500px) {
  .wrapper {
    width: 100%;
    /* background: gray; */
  }
  .txt {
    width: 100%;
    font-size: 5rem;
  }
}

/* .container header nav {
    display: flex;
    flex-direction: column;
  }

  .container header nav a {
    margin-bottom: 20px;
  } */
