/* body {
    margin: 0;
    padding: 0;
    background:#000000;
} */
.wrapper {
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000; 
    margin: 0;
    padding: 0;
    background:#000000;
}

.txt {
    color: #ffffff;
    background:#000000;
    font-size:8rem;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    background:#000000;
}
.txt::before {
    content: '<   Maggie J. Price       />';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}
.neon-wrapper {
    display:inline-flex;
    filter: brightness(200%);
    overflow: hidden;
}
.gradient{
    background: linear-gradient(114.5793141156962deg, rgba(#1dcadb) 4.927083333333334%,rgba(#fc5e6c) 97.84374999999999%);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    mix-blend-mode: multiply;
}
.dodge {
    background: radial-gradient(circle, #fc5e6c, #1dcadb 35%) center / 25% 25%;
    position: absolute;
    top:-100%;
    left:-100%;
    right:0;
    bottom:0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
}