body {
  margin: 0;
  padding: 0;
  background: #000000;
}

.wrapper {
  height: 10rem;
  width: 50%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background: #000000;
  margin: 0;
  padding: 0;
  background: #000000;
}

.txt {
  color: #000000;
  /* background: #000000; */
  font-size: 14rem;
  font-weight: bold;
  font-family: alegreya sans sc;
  text-transform: uppercase;
  margin: auto;
  padding: 0;
  z-index: 0;
  /* background: #000000; */
}
/* .txt::before {
  content: "<   Maggie J. Price       />";
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(3px);
} */
/* .neon-wrapper { */
/* position: absolute; */
/* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: inline-flex;
  filter: brightness(200%);
} */
/* .gradient {
  background: linear-gradient(
    114.5793141156962deg,
    rgba(#1dcadb) 4.927083333333334%,
    rgba(#fc5e6c) 97.84374999999999%
  ); */
